.git
.gitignore
.gitattributes
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
.venv/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
node_modules/
.env

**/.mypy_cache/
**/.ruff_cache/
**/.tox/
**/.coverage*
.DS_Store
.idea/
.vscode/
var/
tests/
!tests/**
*.log
